## JS
package-lock.json
dist
node_modules
bun.lockb

## CFG files
.prettierignore
.gitignore
.env.example
.env
bunfig.toml

## Docker
Dockerfile

## Database schema (special case)
docs/assets/database-schema.svg
