name: Sanity checks

on:
    pull_request:
        branches:
            - main
        types:
            - opened
            - reopened
            - synchronize
            - ready_for_review
    workflow_dispatch:

jobs:
    sanity:
        if: ${{ !github.event.pull_request.draft }}
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4.1.7
            - uses: oven-sh/setup-bun@v2.0.1
            - name: Install dependencies
              run: bun install --frozen-lockfile
            - name: Build
              run: bun run build
            - name: Run Prettier
              run: bun format
            - name: Run ESLint
              run: bun run lint
            - name: Run Tests
              run: bun test
            - name: Run TSC
              run: bun tsc:check
